# Virtual environments
.venv
venv

# IDE / Editor settings
.idea
*.iml
.vscode
.project
.pydevproject

# Mac / OS files
.DS_Store

# Compiled Python files
*.py[cod]
__pycache__

# C extensions
*.so

# Packages / Build
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Logs
*.log
microblog.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Local settings
*local_settings.py

# Flask instance folder (local runtime files)
instance/

# SQLite database
app.db
